###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [1]:
lst = [1, 2, 3, 4]
print(lst)

[1, 2, 3, 4]

**1. Remove number "3" in a list**

In [2]:
# Method 1
lst1= lst.copy()
print(lst1)
lst1.remove(3)
print(lst1)

[1, 2, 3, 4]
[1, 2, 4]

In [3]:
# Method 2
lst2= lst.copy()
print(lst2)
lst2.pop(2)
print(lst2)

[1, 2, 3, 4]
[1, 2, 4]

In [4]:
# Method 3
lst3=lst.copy()
print(lst3)
del lst3[2]
lst3

[1, 2, 3, 4]

[1, 2, 4]

**Remove last element in the list**
> hint: remove 4 (L.pop)

In [5]:
lst1.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [6]:
# removes zeroth position

lst1.pop(0)

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [7]:
# Method1
lst1.append(3)
print(lst1)
lst1.append(4)
print(lst1)

[2, 3]
[2, 3, 4]

In [8]:
#Method 2
lst2 = [2]
lst2[1:2]=[3,4]
print(lst2)

[2, 3, 4]

In [9]:
#method 3
lst3 = [2]
lst3.insert(2,3)
lst3.insert(3,4)
print(lst3)

[2, 3, 4]

**Insert number "1" in 0th position**

In [10]:
lst1.insert(0,1)
print(lst1)

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [11]:
lst1.insert(2,'two-and-half')
print(lst1)

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [12]:
str = "Don't panic!"
print(str)

Don't panic!

**convert into list**

In [13]:
#method 1 >> input as a string
plist =[str]
print(plist)

["Don't panic!"]

In [14]:
#method 2 
plist =list(str)
print(plist)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [15]:
#method 3
plistcopy=[]
plistcopy[::1]=str
print(plistcopy)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [16]:
#method 1
plist.remove( "'")
plist.remove( "!")

print(plist)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

In [17]:
#method 2
del plistcopy[4]
print(plistcopy)

['D', 'o', 'n', "'", ' ', 'p', 'a', 'n', 'i', 'c', '!']

In [18]:
#method 3
str = "Don't panic!"
plist3 =list(str)
print(plist3)
for i in plist3:
    if i =="'" or i =='i':
        plist3.remove(i)
        
plist3

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'c', '!']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [19]:
delete_list = ['p','a','n','D']
print('item to be deleted and extended',delete_list)

for i in plist3:
    if i in delete_list:
        plist3.remove(i)
plist3.extend(delete_list)
plist3

item to be deleted and extended ['p', 'a', 'n', 'D']

['o', 't', ' ', 'a', 'c', '!', 'p', 'a', 'n', 'D']

**Extract last 4 element in plist and append "a" and name as plist1**

- **Extract list**

In [20]:
last_four = plist3[-4:]
last_four

['p', 'a', 'n', 'D']

- **append list**

In [21]:
plist3.append('a')

In [22]:
print(plist3)

['o', 't', ' ', 'a', 'c', '!', 'p', 'a', 'n', 'D', 'a']

- **Join list**

In [25]:
joinllst = "".join(plist3)
print(joinllst)

ot ac!panDa

###  Tuples

***Create a tuples for numbers 31,24,35,85 as nums***

In [26]:
# CODE HERE

In [27]:
tuple1 = (31,24,35,85)
print(" data type ", type(tuple1))
print(tuple1)

 data type  <class 'tuple'>
(31, 24, 35, 85)

**Remove number "35" in a tuple**

*Hint:* Convert into list

In [28]:
# CODE HERE

In [29]:
print(tuple1)

tuplist = list(tuple1)
tuplist.remove(35)

tuple1 = tuple(tuplist)
print(tuple1)

(31, 24, 35, 85)
(31, 24, 85)

**Extent** tuple (85,19)

In [30]:
# CODE HERE

In [31]:
# tuplist.append(85)
# tuplist.append(19)

# tuple1 = tuple(tuplist)
# print(tuple1)

#     or
tuple2=(85,19)
tuple1 = tuple1+tuple2
print(tuple1)

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [32]:
# CODE HERE

str  = '5 2 3 6 6 5'
strdemo = list(set(str.split()))
strdemo.sort()

print(strdemo)
sl = len(strdemo)-2
print(strdemo[sl])

['2', '3', '5', '6']
5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [33]:
# CODE HERE
lstdemo = [12,24,35,70,88,120,155]
print(lstdemo)
lstdemo.pop(0)
print("After Removing 0th position No",lstdemo)
lstdemo.pop(3)
print("After Removing 4th position No",lstdemo)
lstdemo.pop(3)
print("After Removing oth position No",lstdemo)

[12, 24, 35, 70, 88, 120, 155]
After Removing 0th position No [24, 35, 70, 88, 120, 155]
After Removing 4th position No [24, 35, 70, 120, 155]
After Removing oth position No [24, 35, 70, 155]

In [34]:
lstdemo = [12,24,35,70,88,120,155]
print(lstdemo)

lstdemo.pop(0)
lstdemo.pop(3)
lstdemo.pop(3)

lstdemo1 = [i for i in lstdemo if i in lstdemo]
print('after removing element :',lstdemo)

[12, 24, 35, 70, 88, 120, 155]
after removing element : [24, 35, 70, 155]

**Write a Program to Create a List and Identify its unique and Duplicate Elements**

In [35]:
lst = [1,2,2,2,3,4,4,5,9]
unique=[]
duplicate=[]
for i in lst:
    if i not in unique:
        unique.append(i)
    else:
        duplicate.append(i)
        
print("Unique Elements are :",unique)
print("Duplicate Elements are :",duplicate)

Unique Elements are : [1, 2, 3, 4, 5, 9]
Duplicate Elements are : [2, 2, 4]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [36]:
tupdemo = (1,2,3,4,5,6,7,8,9,10)
l = len(tupdemo)//2

print(tupdemo[:l],"\n",tupdemo[-l:])

(1, 2, 3, 4, 5)
 (6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [37]:
#method1
demo = (1,2,3,4,5,6,7,8,9,10)
demo1 = []
for x in demo:
    if x % 2 == 0:
        demo1.append(x)

demo = tuple(demo1)
print(demo)

(2, 4, 6, 8, 10)

In [38]:
demo = (1,2,3,4,5,6,7,8,9,10)
demolst = list(demo)
print(tuple([i for i in demolst if i%2 == 0]))

(2, 4, 6, 8, 10)