###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [1]:
# CODE HERE

In [2]:
person1= {'Name': 'Srikanth','Gender': 'Male','Location': 'Nizampet, Hyderabad','Occupation': 'Data Scientist'}
print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Location': 'Nizampet, Hyderabad', 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [3]:
# CODE HERE

In [4]:
person1keys = person1.keys()
print(person1keys)

dict_keys(['Name', 'Gender', 'Location', 'Occupation'])

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [5]:
# CODE HERE

In [6]:
person1['Age']= 27

In [7]:
person1

{'Name': 'Srikanth',
 'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Occupation': 'Data Scientist',
 'Age': 27}

> Remove Location in person1

In [8]:
# CODE HERE

In [9]:
del person1['Location']
print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [10]:
# CODE HERE

In [11]:
person2={'Name': 'Raghu Ram','Gender': 'Male','Age': 25,'Occupation': 'Data Scientist'}

In [12]:
print(person2)

{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [13]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist'}

In [14]:
# CODE HERE to append
person1['Location']= 'Nizampet, Hyderabad'
person2['Location']= 'Nizampet, Hyderabad'
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27, 'Location': 'Nizampet, Hyderabad'}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}

In [15]:
person3 = {**person1,**person2}
for key,value in person3.items():
    if key in person1 and key in person2:
        person3[key]=[value,person1[key]]
        
print(person3)
print(person3['Name'])

{'Name': ['Raghu Ram', 'Srikanth'], 'Gender': ['Male', 'Male'], 'Occupation': ['Data Scientist', 'Data Scientist'], 'Age': [25, 27], 'Location': ['Nizampet, Hyderabad', 'Nizampet, Hyderabad']}
['Raghu Ram', 'Srikanth']

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [16]:
# CODE HERE
dict1 = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
print(dict1)

del dict1[2]
print(dict1)

dict1.pop(4)
print(dict1)

dict1.popitem()
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 3: 9, 5: 25, 6: 36, 7: 49}
{1: 1, 3: 9, 5: 25, 6: 36}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [17]:
# CODE HERE
dict2 = {0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(dict2)


l=list(dict2.items())
l.sort(reverse=True) 
dict2 = dict(l)
print(dict2)

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
{9: 81, 7: 49, 5: 25, 3: 9, 1: 1, 0: 0}

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [18]:
# CODE HERE
database = {'ram':1234,'raghu':5678,'kanav':1357}
username = input("Enter the username")
password = int(input("Enter the Password"))
if password in database.values() and username in database.keys():
    
    if password == database.get(username):
        print("hello world")
    else:
        print("Username and password no found\nDo you want to add it in login detail into database[y/n]\n\n")
        addme = input("Enter your choice[y/n]\n")
        if addme == "yes":
            database[username] = password
            print("Login details add successfully\nUsername =",username,"\nPassword =",password)
        elif addme == 'no':
            print('Thank you')
else:
    print("Invalid credentails")
            
print("\nDatabase = ",database)

Enter the usernameram
Enter the Password123
Invalid credentails

Database =  {'ram': 1234, 'raghu': 5678, 'kanav': 1357}

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [19]:
# CODE HERE

In [20]:

dict3 = { 'a': 1, 'b': 2 }
dict4 = { 'b': 3, 'c': 4 }
dict5 = { 'c': 5, 'd': 6 }

dict3.update(dict4)
dict3.update(dict5)
print(dict3)

{'a': 1, 'b': 3, 'c': 5, 'd': 6}