In [2]:
#OOP Concepts:
# Create objects and then use those objects

In [3]:
import math
class circle:
    
    def setRadius(self,r):
        self.radius = r
    def getArea(self):
        return math.pi * self.radius**2
    def getPerimeter(self):
        return 2*math.pi*self.radius

In [4]:
c1 = circle()
c1.setRadius(10)

In [5]:
print("Area of circle is :",c1.getArea())
print("Perimeter of circle is:",c1.getPerimeter())

Area of circle is : 314.1592653589793
Perimeter of circle is: 62.83185307179586

In [6]:
#Encapsulation

In [7]:
class house:
    def __init__(self):
        self.__maxprice = 100000
        
    def sellhouse(self):
        print("Selling Price is {}".format(self.__maxprice))
        
    def setMaxPrice(self,price):
        self.__maxprice = price

In [8]:
h1 = house()
h1.sellhouse()

Selling Price is 100000

In [9]:
h1.__maxprice = 20000
h1.sellhouse()

Selling Price is 100000

In [10]:
h1.setMaxPrice(2000000)
h1.sellhouse()

Selling Price is 2000000

In [11]:
class Student:
    pass

In [12]:
a = Student()
b = Student()
print(a,b)

<__main__.Student object at 0x000001E82E785C40> <__main__.Student object at 0x000001E82E785C70>

In [13]:
a.name = "Achal"
a.std = 12

In [14]:
print(a.name)

Achal

In [15]:
a.std = 15
print(a.std)

15

In [16]:
class Employee:
    roll = 8
    def printdetails(self):
        return f"Name is {self.name}Salary is {self.salary},role is {self.role}"

e1 = Employee()
e2 = Employee()

e1.name ="Achal"
e1.salary = 25
e1.role = "Data Scientist"
e2.name = "Mate"
e2.salary = 125

print(e1.name,e2.salary)
print(e1.roll,e2.roll)
print(e1.printdetails())

Achal 125
8 8
Name is AchalSalary is 25,role is Data Scientist

In [17]:
Employee.roll =10
Employee.roll =10

In [18]:
e1.roll

10

In [19]:
class Employee1:
    sal = 10
    def __init__(self,aname,asalary,arole):
        self.name = aname
        self.salary = asalary
        self.role = arole
        
    def printdetails(self):
        return f"Name is {self.name} ,Salary is {self.salary},role is {self.role}"
    @classmethod
    def change_sal(self,newsal):
        self.sal = newsal
        pass
    
el1 =Employee1("Achal",125,"Data Science")
print(e1.printdetails())
el1.change_sal(50)
el1.sal

Name is AchalSalary is 25,role is Data Scientist

50

In [28]:
class Programmer(Employee1):
    def __init__(self,aname,asalary,arole,alang):
        self.name = aname
        self.salary = asalary
        self.role = arole
        self.lang = alang
        
    def printprog(self):
        return f" Programmer Name is {self.name} ,Salary is {self.salary},role is {self.role},language is {self.lang}"

In [29]:
achal= Programmer("Achal",125,"Data Science",["cpp","java","python"]);
print(achal.printprog())

 Programmer Name is Achal ,Salary is 125,role is Data Science,language is ['cpp', 'java', 'python']